.footet-container {
  height: 100%;
  padding: 60px;
}
.footet-container p {
  color: rgba(255, 255, 255, 0.226);
}
.footet-container .footer-license__links a {
  color: rgba(255, 255, 255, 0.404);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}
.footet-container .footer-license__links a:hover {
  color: rgba(206, 255, 230, 0.9137254902);
  text-shadow: 0 0 2px rgba(54, 255, 151, 0.811);
}
.footet-container .social-row {
  display: flex;
  height: 100%;
  width: 60%;
  align-items: center;
  margin-bottom: 10px;
}
.footet-container .social-row img {
  max-width: 60px;
  padding: 1px;
  border: 4px dashed rgba(255, 255, 255, 0.036);
  border-radius: 15px;
}