@charset "UTF-8";
.content::before {
  content: "";
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1295275/background-noise.png);
  animation: 0.2s infinite noise;
  pointer-events: none;
}

/* Видео фона */
.video-background {
  position: absolute;
  top: 3;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#company-video {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(0.6, rgb(0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0)));
}

.header-background {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../../../assets/img/header-background.png");
  opacity: 0.7;
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 130px;
  width: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .header-logo img {
  max-height: 80px;
}
header .nav-container {
  display: flex;
  margin: 0 50px;
  padding: 10px;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  header .nav-container {
    display: none;
  }
}
header .menu-left {
  z-index: 1;
  width: 75%;
}
header .menu-left .nav-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .menu-left .nav-row ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}
header .menu-left .nav-row ul li {
  margin-right: 40px;
}
header .menu-left .nav-row ul li a {
  color: var(--text);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
header .menu-left .nav-row ul li a:hover {
  color: rgba(206, 255, 230, 0.9137254902);
  text-shadow: 0 0 2px rgba(54, 255, 151, 0.811);
}
header .menu-right {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 25%;
}
header .menu-right .social-row {
  display: flex;
  height: 100%;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  header .menu-right .social-row {
    display: none;
  }
}
header .menu-right .social-row img {
  max-width: 60px;
  padding: 1px;
  border: 4px dashed rgba(255, 255, 255, 0.036);
  border-radius: 15px;
}
header .menu-right .what-elem {
  margin-left: 60px;
}
header .menu-right .what-elem img {
  max-width: 80px;
}

.preview-block-container {
  position: relative;
  height: 100vh;
}

.preview-block {
  display: flex;
  flex-direction: column;
  height: inherit;
  margin: 0 auto;
  width: 65%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
}
@media screen and (max-width: 1000px) {
  .preview-block {
    width: 90%;
  }
}
.preview-block .preview-block__title {
  text-align: center;
  font-size: 70px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgba(206, 255, 230, 0.8);
  text-shadow: 0 0 7px rgba(54, 255, 151, 0.811);
}
@media screen and (max-width: 1000px) {
  .preview-block .preview-block__title {
    font-size: 60px;
  }
}
@media screen and (max-width: 860px) {
  .preview-block .preview-block__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 420px) {
  .preview-block .preview-block__title {
    font-size: 24px;
  }
}
.preview-block .preview-block__text {
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 1000px) {
  .preview-block .preview-block__text {
    font-size: 15px;
  }
}
@media screen and (max-width: 860px) {
  .preview-block .preview-block__text {
    font-size: 12px;
  }
}
@media screen and (max-width: 420px) {
  .preview-block .preview-block__text {
    font-size: 8px;
  }
}